extends layout

block content
  main
    div
      form(method='POST')
        div
          label(for="first_name") Name:
          input(type='text', name='first_name', required='true')
        div
          label(for="second_name") Surname:
          input(type='text', name='second_name', required='true')
        div
          label(for="date_of_reservation") Date:
          input(type="date", name="date_of_reservation", required='true')
        button(type='submit') Submit

  script
    include ../public/javascripts/datescript.js
    