extends layout

block content
  main
    div
      a(href="/guest/create") Place a reservation
      p
      a(href="/guest_all") All reservations
        
  script
    include ../public/javascripts/find_by_id.js